.bg-great{
    background-color: #e2e9ec !important
}
.body-great{
  background-color: #e2e9ec !important
}
.bg-blued{
  background-color: #10374a !important;
  color: #e2e9ec !important
}
.text-blue{
  color: #10374a !important
}